---
layout: default
---
<article class="phase">

  <header class="phase-header">
    {% include breadcrumb.html %}

    <h1 class="phase-title">{{ page.title }}</h1>
    <div class="phase-content">
      {{ content }}
    </div>

    <nav class='phase-task-navigator'>
      <ul>
        {% for task in page.tasks %}
          <li>
            <a href="">{{ task }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>

  </header>

  <!--
  <p>HTML</p>
  {% include task/test.html %}

  <p>Markdown</p>
  {% include task.html name='test' %} -->

</article>
