---
layout: default
---
<article class="phase">

  <header class="phase-header">
    {% include breadcrumb.html %}

    <h1 class="phase-title">{{ page.title }}</h1>
    <div class="phase-content">
      {{ content }}
    </div>

    <nav class='phase-task-navigator'>
      <ul>
        {% for task in page.tasks %}<li>
            <a href="#{{task | handle }}">{{ forloop.index }}</a>
          </li>{% endfor %}
      </ul>
    </nav>

  </header>

  <section>
    {% for task in page.tasks %}<section id='{{ task | handle }}'>
        <h1>{{forloop.index}}. {{ task | replace: "-"," " | capitalize }}</h1>
        {% include task.html name=task %}
      </section>{% endfor %}
  </section>

</article>
