---
layout: default
---
<header>
  <h1>{{ page.title }}</h1>
</header>

<section>

  {{ content }}

</section>

<section>

  {% for phase in page.phases %}

  <article>

    <header>

      <h1>{{ phase.title }}</h1>

      {{ phase.summary }}

    </header>

    {% for task_name in phase.tasks %}

      {% assign task = site.tasks | where:"slug",task_name | first %}

      <section>

        {% include readmore.html item=task %}

      </section>

    {% endfor %}

  </article>

  {% endfor %}

<section>
