---
layout: default
---
<section>

  {{ content }}

</section>

<section>

  {% for phase in page.phases %}

  <article>

    <header>

      <h1>{{ phase.title }}</h1>

      {{ phase.summary }}

    </header>

    {% for task_name in phase.tasks %}

      {% assign task = site.tasks | where:"slug",task_name | first %}

      <section>

        {% if task != null %}
          {% include readmore.html item=task %}
        {% else %}
          <p class="ERROR">Task <code>{{ task_name }}</code> does not exist</p>
        {% endif %}

      </section>

    {% endfor %}

  </article>

  {% endfor %}

<section>
