---
layout: default
---
<nav class='process-phase-navigator'>
  <ul role="tablist">
    <li class="active"><a href="#overview" aria-controls="home" role="tab" data-toggle="tab">Overview</a></li>
    {% for phase in page.phases %}
    <li>
      <a href="#{{ phase.id }}" aria-controls="{{ phase.id }}" role="tab" data-toggle="tab">
        {{ phase.id | capitalize }}
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>

<div class="tab-content">
  <section role="tabpanel" class="tab-pane active" id="overview">

    {{ content }}

  </section>

  {% for phase in page.phases %}
  <section role="tabpanel" class="tab-pane" id="{{ phase.id }}">
    <header>

      <h1>{{ phase.title }}</h1>

      {{ phase.summary }}

    </header>

    {% for task_name in phase.tasks %}

      {% assign task = site.tasks | where:"slug",task_name | first %}

      <section>

        {% if task != null %}
          {% include readmore.html item=task %}
        {% else %}
          <p class="ERROR">Task <code>{{ task_name }}</code> does not exist</p>
        {% endif %}

      </section>

    {% endfor %}

  </section>
  {% endfor %}
</div>
